<ul class="navbar-nav flex-grow-1">
		<li class="nav-item">
				<a class="nav-link btn btn-sm custom-button-color text-dark" asp-area="" asp-controller="Course" asp-action="All">All Courses</a>
		</li>
		<li class="nav-item">
				<a class="nav-link btn btn-sm custom-button-color text-dark" asp-area="Admin" asp-controller="Course" asp-action="Mine">My Courses</a>
		</li>
		<li class="nav-item">
				<a class="nav-link btn btn-sm custom-button-color text-dark" asp-area="" asp-controller="Course" asp-action="Add">Add Course</a>
		</li>
</ul>
