@{
	ViewData["Title"] = "Error";
}

<div class="row">
	<div class="col-3"></div>
	<div class="col-6">
		<br>
		<div class="row">
			<div class="col-10">
				<img src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*MXyMqcEJ6Se0SCWcYCKZTQ.jpeg" alt="Alternative image" class="img-thumbnail">
				<div class="text-left h4">
					<p>Oops, an internal server error occured.</p>
				</div>
				<div class="text-left h4">  Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
			</div>
		</div>
	</div>
	<div class="col-3"></div>
</div>