@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-white">Welcome to CourseHub!</h1>
    <p>This is the place to learn whatever you want!</p>
    <p>CourseHub gives you the oppourtunity to find various courses around you where you can meet new people, learn new things and of course have fun!</p>
</div>
