@model CourseDetailsViewModel
@{
	ViewData["Title"] = "Delete Course";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<form asp-action="Delete">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn custom-button-course-color" />
            </div>
        </div>
    </div>
</form>
